@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url("../fonts/Plus-Jakarta-Sans.woff2") format("woff2");
  font-diplay: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2");
  font-display: swap;
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #00B8F1;
  padding: 60px 30px 30px 30px;

}

.hidden {
  display: none !important;
}

.layout {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 32px;
  box-shadow: 1.5px 5px 15px rgba(0, 58, 107, 1.5);
  background-color: #FFFFFF;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0 0 0;
}

header > a {
  position: absolute;
  top: 18px;
  left: 15px;
}

header > a > img {
  width: 18px;
  height: 18px;
}

header > h1 {
  padding: 0;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 800;
  color: #0D4764;
}

.progress-container {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
  gap: 3px;
}

.progress-container > .progress-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.progress-container > .progress-text > span:first-child {
  align-self: flex-end;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  color: #0D4764;
}

.progress-container > .progress-text > span:nth-child(2) {
  align-self: flex-end;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  color: #A5B2B8;
}

.progress-container > .progress-bar-bg {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #E3EAF0;
}

.progress-container > .progress-bar-bg > .progress-bar-fill {
  width: 0%;
  height: 100%;
  border-radius: 5px;
  background-color: #00B8F1;
}

main {
  display: flex;

  flex-direction: column;

  box-sizing: border-box;

}

main > .test-area {
  flex: 1;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
  min-height: calc(100vh - 275px);
  max-height: calc(100vh - 275px);
  width: 90%;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  background-color: #F8F2FC;
  padding: 15px 10px 5px 10px;
}

main > .test-area > img {
  width: 50px;
  height: 50px;
}

main > .test-area > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
  padding-left: 10px;
  list-style: none;
}

main > .test-area > ul > li:first-child {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  color: #8AA2AC;
}

main > .test-area > ul > li:nth-child(2) {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  color: #0D4764;
}

main > .test-area > .quiz-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85%;
  max-height: 85%;
  width: 100%;
  border-radius: 25px;
  background-color: #FFFFFF;
  padding: 10px;
  overflow-y: auto;
}

main > .test-area > .quiz-area > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

main > .test-area > .quiz-area > ul > li {
  font-family: Roboto;
  font-weight: 900;
  font-size: 12px;
  color: #0D4764;
}

main > .test-area > .quiz-area > ul > li:first-child {
  font-size: 14px;
}

main > .test-area > .quiz-area > ul > .task {
  font-size: 11px;
  font-weight: 500;
}

main > .test-area > .quiz-area > ul > li:nth-child(5) {
  font-size: 10px;
  font-weight: 400;
  color: #8AA2AC;
}

main > .test-area > .quiz-area > .answers-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  align-items: center;
  padding: 10px 0;
}

main > .test-area > .quiz-area > .answers-list > .answer-item {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 95%;
  border: 1px solid #E4E4E4;
  border-radius: 12px;
  background-color: #FAFAFA;
  padding: 10px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  color: #0D4764;
}

main > .test-area > .quiz-area > .answers-list > .answer-item > input[type="radio"] {
  display: none;
}

main > .test-area > .quiz-area > .answers-list > .answer-item > .radio-custom {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #B3C1CB;
  border-radius: 50%;
  flex-shrink: 0;
  transition: all 0.2s ease;
}

main > .test-area > .quiz-area > .answers-list > .answer-item:has(input[type="radio"]:checked) > .radio-custom {
  border: 4px solid #00B8F1;
}

main > .test-area > .quiz-area > .answers-list > .answer-item:has(input[type="radio"]:checked) {
  background-color: #F4FBFE;
  border-color: #00AEEF;
  transition: 0.5s;
}

main > .answer-checked {
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
  min-height: calc(100vh - 275px);
  max-height: calc(100vh - 275px);
  width: 90%;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin: 10px 0 10px 0;
  padding: 15px 10px 5px 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

main > .answer-checked > .answer-status {
  align-self: flex-start;
  display: flex;
  gap: 5px;
  padding-bottom: 30px;
}

main > .answer-checked > .answer-status > img {
  width: 40px;
  height: 40px;
}

main > .answer-checked > .answer-status > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  list-style: none;
}

main > .answer-checked > .answer-status > ul > li:first-child {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 800;
  color: #0D4764;
}

main > .answer-checked > .answer-status > ul > li:nth-child(2) {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  color: #0D4764;
}

main > .answer-checked > span {
  align-self: flex-start;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  color: #0D4764;
}

main > .answer-checked > .comment {
  padding-top: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #0D4764;
}

main > .answer-checked > .correct-remember {
  background-color: #F4F8EA;
  border-radius: 15px;
  margin: 20px 8px 10px 8px;
  padding: 15px 20px;
}

main > .answer-checked > .wrong-remember {
  background-color: #FDF2F2;
  border-radius: 15px;
  margin: 20px 8px 10px 8px;
  padding: 15px 20px;
}

main > .answer-checked > .correct-remember > span {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  color: #2DAB86;
}

main > .answer-checked > .wrong-remember > span {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  color: #EB5757;
}

main > .answer-checked > div > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;
  list-style: none;
}

main > .answer-checked > div > ul > li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  color: #0D4764;
}

main > .answer-checked > div > ul > li > img {
  width: 20px;
  height: 20px;
}

main > .finish-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 275px);
  max-height: calc(100vh - 275px);
  gap: 20px;
  text-align: center;
}

main > .finish-area > div > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}

main > .finish-area > div > ul > li:first-child {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 900;
  color: #0D4764;
}

main > .finish-area > div > ul > li:nth-child(2) {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: #0D4764;
}

.button {
  width: 85%;
  border-radius: 20px;
  border: 0px solid #000000;
  background-color: #00B9F2;
  padding: 10px;
  font-family: Roboto;
  font-size: 12px;
  color: #FFFFFF;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s;
}

.button:active {
  transform: translateY(0.5px);
  transition: 0.3s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}

footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: 2px solid #72C5F7;
  border-radius: 32px;
  width: 95%;
  padding: 3px 0;
  list-style: none;
}

footer > ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 32px;
  padding: 4px;
  background-color: #72C5F7;
}

footer > ul > li:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s;
}

footer > ul > li:active {
  transform: translateY(0.5px);
  transition: 0.3s;
}

footer > ul > li > a > img {
  width: 30px;
}

footer > ul > li > a > img {
  width: 30px;
}

.locked {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF80;
  pointer-events: none;
}

.locked > img {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: -10px;
}


@media (min-width: 570px) {
  header > h1 {font-size: 17px;}

  .progress-container > .progress-text > span:first-child {font-size: 14px;}
  .progress-container > .progress-text > span:nth-child(2) {font-size: 14px;}

  main > .test-area > ul > li:first-child {font-size: 13px;}
  main > .test-area > ul > li:nth-child(2) {font-size: 14px;}

  main > .test-area > .quiz-area > ul > li:first-child {font-size: 16px;}
  main > .test-area > .quiz-area > ul > .task {font-size: 14px;}
  main > .test-area > .quiz-area > ul > li {font-size: 14px;}
  main > .test-area > .quiz-area > ul > li:nth-child(5) {font-size: 13px;}

  main > .test-area > .quiz-area > .answers-list > .answer-item {font-size: 14px;}

  main > .answer-checked > .answer-status > ul > li:first-child {font-size: 14px;}
  main > .answer-checked > .answer-status > ul > li:nth-child(2) {font-size: 16px;}
  main > .answer-checked > span {font-size: 16px;}
  main > .answer-checked > .comment {font-size: 16px;}

  main > .answer-checked > .correct-remember > span, 
  main > .answer-checked > .wrong-remember > span {font-size: 15px;}

  main > .answer-checked > div > ul > li {font-size: 14px;}

  .button {
    width: 75%;
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  body {padding: 30px;}

  header > a {
    top: 20px;
    left: 20px;
  }

  main > .test-area {
    min-height: calc(100vh - 230px);
    max-height: calc(100vh - 230px);
  }

  main > .test-area > .quiz-area {
    flex-wrap: wrap;
    gap: 10px 0;
  }

  main > .test-area > .quiz-area > ul {
    min-height: 100%;
    width: 45%;
  }

  main > .test-area > .quiz-area > .answers-list {width: 45%;}
  main > .answer-checked {flex-wrap: wrap;}

  main > .answer-checked > .answer-status, 
  main > .answer-checked > span, 
  main > .answer-checked > .comment {width: 45%;}

  main > .answer-checked > .correct-remember, 
  main > .answer-checked > .wrong-remember {
    margin: 30px 8px 20px 8px;
    width: 45%;
  }

  .button {width: 45%;}
  #quit-btn {width: 30%;}
  footer > ul {width: 40%;}
}